@import 'compass';

$zen-width: 960px !default;
$zen-content-position: "middle" !default; //possible values are first, middle, last
$zen-first-sidebar-width: 200px !default;
$zen-second-sidebar-width: 200px !default;
$zen-navigation-width: 100% !default;
$zen-navigation-height: 2.3em !default;
$zen-footer-size: 150px !default;

$zen-proportional-typeface: 'Verdana, Tahoma, "DejaVu Sans", sans-serif' !default;
$zen-monospaced-typeface: '"Courier New", "DejaVu Sans Mono", monospace' !default;

$zen-base-font-size: 14px !default;

@mixin zen-layout-base {

  .region-header {
    clear: both; }

  #main-wrapper {
    position: relative; }

  #page-wrapper, .region-page-closure {
    margin-left: auto;
    margin-right: auto;
    width: $zen-width; }

}

@mixin zen-layout-fixed($direction: "ltr") {

  @include zen-layout-base;

  $first: "left";
  $last: "right";

  @if $direction == "rtl" {
    $first:  "right";
    $last: "left"; }

  #content {
    width: $zen-width;
    @include float($first);
    padding: 0;


    .no-sidebars & {
      width: $zen-width;
      margin-#{$first}: 0;
      margin-#{$last}: -($zen-width); }

    .sidebar-first & {
      width: $zen-width - $zen-first-sidebar-width;

      @if $zen-content-position == "first" {
        margin-#{$first}: 0;
        margin-#{$last}: -($zen-width - $zen-first-sidebar-width); }

      @else {
        margin-#{$first}: $zen-first-sidebar-width;
        margin-#{$last}: -($zen-width); } }

    .sidebar-second & {
      width: $zen-width - $zen-second-sidebar-width;

      @if $zen-content-position == "last" {
        margin-#{$first}: $zen-second-sidebar-width;
        margin-#{$last}: -($zen-width); }

      @else {
        margin-#{$first}: 0;
        margin-#{$last}: -($zen-width - $zen-second-sidebar-width); } }

    .two-sidebars & {
      width: $zen-width - $zen-first-sidebar-width - $zen-second-sidebar-width;

      @if $zen-content-position == "middle" {
        margin-#{$first}: $zen-first-sidebar-width;
        margin-#{$last}: -($zen-width - $zen-second-sidebar-width); }

      @if $zen-content-position == "first" {
        margin-#{$first}: 0;
        margin-#{$last}: -($zen-width - $zen-first-sidebar-width - $zen-second-sidebar-width); }

      @if $zen-content-position == "last" {
        margin-#{$first}: $zen-first-sidebar-width + $zen-second-sidebar-width;
        margin-#{$last}: -($zen-width); } } }

  .region-sidebar-first {
    @include float($first);
    width: $zen-first-sidebar-width;

    @if $zen-content-position == "first" {
      margin-#{$first}: $zen-width - $zen-first-sidebar-width;
      margin-#{$last}: -($zen-width);

      .two-sidebars & {
        margin-#{$first}: $zen-width - $zen-first-sidebar-width - $zen-second-sidebar-width;
        margin-#{$last}: -($zen-width - $zen-second-sidebar-width); } }

    @else {
      margin-#{$first}: 0;
      margin-#{$last}: -$zen-first-sidebar-width; } }

  .region-sidebar-second {
    @include float($first);
    width: $zen-second-sidebar-width;

    @if $zen-content-position == "last" {
      margin-#{$first}: 0;
      margin-#{$last}: -$zen-second-sidebar-width;

      .two-sidebars & {
        margin-#{$first}: $zen-first-sidebar-width;
        margin-#{$last}: -($zen-second-sidebar-width + $zen-first-sidebar-width); } }

    @else {
      margin-#{$first}: $zen-width - $zen-second-sidebar-width;
      margin-#{$last}: -($zen-width);

      .two-sidebars & {
        margin-#{$first}: $zen-width - $zen-second-sidebar-width;
        margin-#{$last}: -($zen-width - $zen-second-sidebar-width); } } }

  #content .section {
    margin: 0;
    padding: 0; }

}

@mixin zen-layout-liquid($direction: "ltr") {

  @include zen-layout-base;

  $first: "left";
  $last: "right";

  @if $direction == "rtl" {
    $first:  "right";
    $last: "left"; }

  #page-wrapper, .region-page-closure {
    min-width: 960px; }

  #content {
    @include float($first);
    width: 100%;
    margin-#{$first}: 0;
    margin-#{$last}: -100%;
    padding: 0;

    .section {
      margin: 0;
      padding: 0; } }

  .region-sidebar {
    padding: 0;
    margin: 0;

    .section {
      padding: 0;
      margin: 0; } }

  .region-sidebar-first {
    @extend .region-sidebar;
    width: $zen-first-sidebar-width; }

  .region-sidebar-second {
    @extend .region-sidebar;
    width: $zen-second-sidebar-width; }

  .no-sidebars #content .section {
    margin: 0;
    padding: 0; }

  @if $zen-content-position == "first" {

    .sidebar-first #content .section {
      padding-#{$last}: $zen-first-sidebar-width; }

    .sidebar-second #content .section {
      padding-#{$last}: $zen-second-sidebar-width; }

    .two-sidebars #content .section {
      padding-#{$last}: $zen-first-sidebar-width + $zen-second-sidebar-width; }

    .region-sidebar-first {
      @include float($last);
      margin-#{$first}: -$zen-second-sidebar-width;

      .two-sidebars &  {
        margin-#{$first}: 0;
        margin-#{$last}: $zen-second-sidebar-width; }

      .section {
        margin-#{$first}: 20px; } }

    .region-sidebar-second {
      @include float($last);
      margin-#{$first}: - $zen-second-sidebar-width;

      .two-sidebars &  {
        margin-#{$first}: 0;
        margin-#{$last}: -($zen-first-sidebar-width + $zen-second-sidebar-width); }

      .section {
        margin-#{$first}: 20px; } } }

  @if $zen-content-position == "middle" {

    .sidebar-first #content .section {
      padding-#{$first}: $zen-first-sidebar-width; }

    .sidebar-second #content .section {
      padding-#{$last}: $zen-second-sidebar-width; }

    .two-sidebars #content .section {
      padding-#{$first}: $zen-first-sidebar-width;
      padding-#{$last}: $zen-second-sidebar-width; }

    .region-sidebar-first {
      @include float($first);

      .section {
        margin-#{$last}: 20px; } }

    .region-sidebar-second {
      @include float($last);

      .section {
        margin-#{$first}: 20px; } } }

  @if $zen-content-position == "last" {

    .sidebar-first #content .section {
      padding-#{$first}: $zen-first-sidebar-width; }

    .sidebar-second #content .section {
      padding-#{$first}: $zen-second-sidebar-width; }

    .two-sidebars #content .section {
      padding-#{$first}: $zen-first-sidebar-width + $zen-second-sidebar-width; } 

    .region-sidebar-first {
      @include float($first);
      margin-#{$last}: -$zen-second-sidebar-width;

      .two-sidebars &  {
        margin-#{$last}: $zen-second-sidebar-width;
        margin-#{$first}: 0; }

      .section {
        margin-#{$last}: 20px; } }

    .region-sidebar-second {
      @include float($first);
      margin-#{$last}: - $zen-second-sidebar-width;

      .two-sidebars &  {
        margin-#{$first}: - $zen-second-sidebar-width;
        margin-#{$last}: 0; }

      .section {
        margin-#{$last}: 20px; } } }

}

@mixin zen-layout($direction: "ltr") {

  @if unit($zen-width) == "px" {
    @include zen-layout-fixed($direction); }

  @else if unit($zen-width) == "%" {
    @include zen-layout-liquid($direction); }

}

@mixin zen-navigation($direction: "ltr") {

  $first: "left";
  $last: "right";

  @if $direction == "rtl" {
    $first:  "right";
    $last: "left"; }

  #navigation {
    overflow: hidden;
    @include float($first);
    width: 100%;
    margin-#{$first}: 0;
    margin-#{$last}: -100%;
    padding: 0;
    height: $zen-navigation-height;

    ul {
      margin: 0;
      padding: 0;
      text-align: $first; }

    li {
      @include float($first);
      padding: 0;
      padding-#{$last}: 10px; } }

  .with-navigation {
    #content, .region-sidebar-first, .region-sidebar-second {
      margin-top: $zen-navigation-height; } }

}

@mixin zen-dropdown-navigation {

  #navigation {
    overflow: visible; }

}

@mixin zen-clearfix-fix { //ironic, isn't it?

  #page-wrapper {
    overflow-y: hidden; }

}

@mixin zen-typefaces {

  body, caption, th, td, input, textarea, select, option, legend, fieldset {
    font-family: $zen-proportional-typeface; }

  pre, code {
    font-family: $zen-monospaced-typeface; }

}

@mixin zen-typography {

  #skip-link, #page {
    font-size: $zen-base-font-size * 1em / 16px;
    line-height: ($zen-base-font-size + 4px) * 1em / $zen-base-font-size;
  }

}

@mixin zen-footer {

  html, body, #page-wrapper, #page, #main-wrapper {
    height: 100%;
  }

  #main-wrapper {
    height: auto;
    min-height: 100%;
  }

  #main {
    //overflow: auto;
    padding-bottom: $zen-footer-size; /* the footer size */
  }

  #footer {
    position: relative;
    clear: both;
    height: $zen-footer-size;
    margin-top: -$zen-footer-size; /* the negative value of the footer size */
  }

}
