<% project_name = File.basename(config.project_path) %>

// Map the zen variables to the skin variables
$zen-width: $<%= project_name %>-width;
$zen-first-sidebar-width: $<%= project_name %>-first-sidebar-width;
$zen-second-sidebar-width: $<%= project_name %>-second-sidebar-width;
$zen-content-position: $<%= project_name %>-content-position;
$zen-proportional-typeface: $<%= project_name %>-proportional-typeface;
$zen-monospaced-typeface: $<%= project_name %>-monospaced-typeface;
$zen-base-font-size: $<%= project_name %>-base-font-size;

// Zen requires navbar width and height, following are default ones
$zen-navigation-width: 100%;
$zen-navigation-height: 2.3em;
