@import "drupal/zen";
@import "<%= File.basename(config.project_path) %>-skin";

// Map the zen variables to the skin variables
$zen-width: $<%= project_name %>-width;
$zen-first-sidebar-width: $<%= project_name %>-first-sidebar-width;
$zen-second-sidebar-width: $<%= project_name %>-second-sidebar-width;
$zen-content-position: $<%= project_name %>-content-position;
$zen-navigation-width: $<%= project_name %>-navigation-width;
$zen-navigation-height: $<%= project_name %>-navigation-height;
$zen-proportional-typeface: $<%= project_name %>-proportional-typeface;
$zen-monospaced-typeface: $<%= project_name %>-monospaced-typeface;
$zen-base-font-size: $<%= project_name %>-base-font-size: 14px;

// Use this mixin to generate the Zen layout
@include zen-layout;

// Use this mixin to properly position the #navigation div
@include zen-navigation;

//Use this mixin to set the typefaces
@include zen-typefaces;

//Use this mixin to set the font sizes
@include zen-typography;

body { }

#skip-link { }

#page-wrapper {

/* Content */

  #content {
    #mission { }
    #breadcrumb { }
    .messages { }
    .tabs {
      .primary { }
      .secondary { } }
    .feed-icons { } }

/* Regions */

  .region-sidebar-first {
    .block {
      &.odd { }
      &.even { } } }

  .region-sidebar-second {
    .block {
      &.odd { }
      &.even { } } }

  .region-navigation {
    #main-menu { }
    .block { } }

  .region-highlight {
    .block { } }

  .region-content-top {
    .block { } }

  .region-content-bottom {
    .block { } }

  .region-header {
    #logo { }
    #name-and-slogan { }
    .block { } }

  .region-footer {
    #secondary-menu { }
    #footer-message { }
    .block { } }

  .region-page-closure {
    .block { } }

}